canvas {
    position: absolute;
    left: 50%;
    margin-left:-266px;
    top:50%;
    margin-top:-266px;
    border: 1px solid;
}

#sidebar {
    position: absolute;
    left: 888px;
    top: 39px;
    border: 1px solid;
    height: 512px;
    width: 250px;
    background-color: darkgray;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:762px;
}

body {
    margin:0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}