canvas {
    position: absolute;
    left: 50%;
    margin-left:-320px;
    top:50%;
    margin-top:-320px;
    border: 1px solid black;
}

#sidebar {
    position: absolute;
    right:0;
    height:100%;
    background-color: #4C4C4C;
    float: right;
    border: 1px solid black;
}

.abilities {
    display: inline;
}


.spell {
    display: inline;
    color: lightgreen;
}

#health {
    display: inline;
    color: lightgreen;
}


#volumeLabel {
    padding: 0%;
    margin: 0%;
}

body {
    margin:0;
    color:silver;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}